* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 8px;
}

.header-links {
    margin: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-link {
    margin: 8px;
}